@model IEnumerable<BoozewasherApp_Web.Models.ContextModel.Transaction>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<h1>Transactions</h1>
<p></p>
@Html.ActionLink("New Transaction", "New", "Transaction", new { @class = "btn btn-outline-primary" })
@if (!Model.Any())
{
    <p>No transactions available.</p>
}
<p></p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Vehicle Type</th>
            <th>Vehicle Brand</th>
            <th>Vehicle Model</th>
            <th>Service</th>
            <th>Plate Number</th>
            <th>Cost</th>
            <th>Date and Time</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.Vehicle.Type</td>
                <td>@transaction.Vehicle.Brand</td>
                <td>@transaction.Vehicle.Model</td>
                <td>@transaction.Service.Type</td>
                <td>@Html.ActionLink(transaction.PlateNumber, "Edit", "Transaction", new { id = transaction.Id }, null)</td>
                <td>@transaction.Cost</td>
                <td>@transaction.DateTime</td>
                <td>@Html.ActionLink("Delete", "Delete", "Transaction", new { id = transaction.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>
