@model BoozewasherApp_Web.Models.ViewModels.Transactions.TransactionFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Transaction"))
{
    @Html.ValidationSummary(true, "Please fill up requirements");

    <p></p>
    @Html.LabelFor(t => t.VehicleId)
    <div class="input-group mb-3">
        @Html.TextBoxFor(t => t.VehicleId, "{0:#.#}", new { @class = "form-control" })
        <div class="input-group-append">
            @Html.ActionLink("Vehicle Lookup", "VehicleLookup", "Transaction", new { @class = "btn btn-outline-primary" })
        </div>
    </div>

    <p></p>
    @Html.LabelFor(t => t.ItemId)
    <div class="input-group mb-3">
        @Html.TextBoxFor(t => t.ItemId, "{0:#.#}", new { @class = "form-control" })
        <div class="input-group-append">
            @Html.ActionLink("Item Lookup", "ItemLookup", "Transaction", new { @class = "btn btn-outline-primary" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.ServiceId)
        <p></p>
        @Html.DropDownListFor(t => t.ServiceId, new SelectList(Model.Services, "Id", "Type"), "Select Service Type", new { @class = "custom-select" })
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.BranchId)
        <p></p>
        @Html.DropDownListFor(t => t.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select Branch", new { @class = "custom-select" })
       
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.PlateNumber)
        @Html.TextBoxFor(t => t.PlateNumber, new { @class = "form-control" })
      

    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Cost)
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> PHP </span>
            </div>
            @Html.TextBoxFor(t => t.Cost, "{0:#.#}", new { @class = "form-control" })
            <div class="input-group-append">
                <span class="input-group-text"> .00 </span>
            </div>
        </div>
        </div>
        <p></p>
        @Html.HiddenFor(t => t.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary"> Save </button>

        }
        @section	scripts	{
            @Scripts.Render("~/bundles/jqueryval")
        }

