@model BoozewasherApp_Web.Models.ViewModels.Transactions.TransactionFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Transaction"))
{
    @Html.ValidationSummary(true, "Please fill up requirements");

    <p></p>
    @Html.ActionLink("Vehicle Lookup", "VehicleLookup", "Transaction", new { @class = "btn btn-outline-primary" })
    <p></p>

    <div class="form-group">
        @Html.LabelFor(t => t.VehicleId)
        @Html.TextBoxFor(t => t.VehicleId, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.VehicleId)
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.ServiceId)
        @Html.DropDownListFor(t => t.ServiceId, new SelectList(Model.Services, "Id", "Type"), "Select Service Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.ServiceId)
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.PlateNumber)
        @Html.TextBoxFor(t => t.PlateNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.PlateNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Cost)
        @Html.TextBoxFor(t => t.Cost, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Cost)
    </div>
    <p></p>
    @Html.HiddenFor(t => t.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary"> Save </button>

}
@section	scripts	{
    @Scripts.Render("~/bundles/jqueryval")
}

