@model BoozewasherApp_Web.Models.ViewModels.Attendances.AttendanceFormViewModel
@{
    ViewBag.Title = "TimeIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNet.Identity

@using (Html.BeginForm("Save", "Attendance"))
{
    <p></p>
    <div class="jumbotron">
        <h1>@Html.ActionLink("Hello, " + User.Identity.GetUserName(), "Index", "Attendance")</h1>
        <p></p>
        <hr />
        @Html.LabelFor(t => t.TimeInDate)
        @Html.TextBoxFor(t => t.TimeInDate, new { @class = "form-control " })
        <p></p>
        @Html.LabelFor(t => t.EmployeeId)
        @Html.TextBoxFor(t => t.EmployeeId, "{0:#.#}", new { @class = "form-control " })

        @Html.AntiForgeryToken()
        <p></p>
        <button type="submit" class="btn btn-outline-primary"> Save </button>
        <p></p>
    </div>
}

