@model IEnumerable<BoozewasherApp_Web.Models.ContextModel.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<h1>Services</h1>
<p></p>
@Html.ActionLink("New Service", "New", "Service", new { @class = "btn btn-outline-primary" })
@if (!Model.Any())
{
    <p>No services available.</p>
}
<p></p>
<table id="services" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Service Type</th>
            <th>Description</th>
            <th>Expense</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var services in Model)
        {
            <tr>
                <td>@Html.ActionLink(services.Type, "Edit", "Service", new { id = services.Id }, null)</td>
                <td>@services.Description</td>
                <td>@services.Expense</td>
                <td align="center"><button data-service-id="@services.Id" class="btn btn-outline-primary js-delete"> Delete </button></td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#services").DataTable

            $("#services").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Would you like to delete this service?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "API/Services/DeleteService/" + button.attr("data-service-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
