@model BoozewasherApp_Web.Models.ViewModels.Services.ServiceFormViewModel
@{
    ViewBag.Title = "ServiceForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<p></p>
@using (Html.BeginForm("Save", "Service"))
{
    @Html.ValidationSummary(true, "Please fill up requirements");
    <div class="jumbotron">
        <h1 class="display-4"> Service Form </h1>
        @Html.LabelFor(s => s.Service.Type)
        @Html.TextBoxFor(s => s.Service.Type, new { @class = "form-control" })
        <p></p>
        @Html.LabelFor(s => s.Service.Description)
        @Html.TextBoxFor(s => s.Service.Description, new { @class = "form-control" })
        <p></p>
         @Html.LabelFor(s => s.Service.Expense)
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> PHP </span>
            </div>
            @Html.TextBoxFor(s => s.Service.Expense, new { @class = "form-control" })
            <div class="input-group-append">
                <span class="input-group-text"> .00 </span>
            </div>
        </div>

         <button type="submit" class="btn btn-outline-primary"> Save </button>
    </div>

        <p></p>
        @Html.HiddenFor(s => s.Service.Id)
        @Html.AntiForgeryToken()
       
        }
        @section	scripts	{
            @Scripts.Render("~/bundles/jqueryval")
        }

