@model BoozewasherApp_Web.Models.ViewModels.Items.ItemsFormViewModel
@{
    ViewBag.Title = "ItemForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<p></p>
@using (Html.BeginForm("Save", "Item"))
{
    @Html.ValidationSummary(true, "Please fill up requirements");

    <div class="jumbotron">
        <h1 class="display-4"> Item Form </h1>
         <hr />
        @Html.LabelFor(i => i.Item.Name)
        @Html.TextBoxFor(i => i.Item.Name, new { @class = "form-control" })
        <p></p>
        @Html.LabelFor(i => i.Item.Description)
        @Html.TextBoxFor(i => i.Item.Description, new { @class = "form-control" })
        <p></p>
        @Html.LabelFor(i => i.Item.Barcode)
        @Html.TextBoxFor(i => i.Item.Barcode, new { @class = "form-control" })
        <p></p>
        @Html.LabelFor(i => i.Item.UsageCount)
        @Html.TextBoxFor(i => i.Item.UsageCount, "{0:#.#}", new { @class = "form-control" })
        <p></p>
        @Html.LabelFor(i => i.Item.Expense)
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> PHP </span>
            </div>
            @Html.TextBoxFor(i => i.Item.Expense, "{0:#.#}", new { @class = "form-control" })
            <div class="input-group-append">
                <span class="input-group-text"> .00 </span>
            </div>
        </div>
        <p></p>
        @Html.LabelFor(t => t.Item.BranchId)
            <p></p>
            @Html.DropDownListFor(t => t.Item.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select Branch", new { @class = "custom-select" })
        <p></p>
        <label>
                @Html.CheckBoxFor(i => i.Item.IsEmpty) Is Empty
        </label>
        <p></p>
        <button type="submit" class="btn btn-outline-primary"> Save </button>
    </div>

        @Html.HiddenFor(i => i.Item.Id)
        @Html.AntiForgeryToken()
       
}
@section	scripts	{
@Scripts.Render("~/bundles/jqueryval")
}
