<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-right navbar-dark bg-primary">
                        <li class="nav-item">
                            <a class="navbar-brand" href="@Url.Action("Index", "Home")"> Boozewasher </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Service")"> Services </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Vehicle")"> Vehicles </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Item")"> Item </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Transaction")"> Transactions </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Branch")"> Branches </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Employees </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("Index", "Employee")"> Employees </a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Attendance")"> View Attendance </a>
                            </div>
                        </li>
                    </ul>
                </div>
                   @Html.Partial("_LoginPartial")
            </div>
        </div>

    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Boozewasher</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
