@model BoozewasherApp_Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<p></p>
<p></p>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true, "Please fill up Requirements")
    <div class="jumbotron">
        <h1 class="display-4"> Register </h1>
         <hr />
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control is -invalid" })
        </div>
        <p></p>
         @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
        <p></p>
         @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <p></p>
         @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <p></p>
         @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <p></p>
         <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-outline-primary" value="Register" />
        </div>
       
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
