@model  IEnumerable<BoozewasherApp_Web.Models.ContextModel.Vehicle>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<h1>Vehicles</h1>
<p></p>
@Html.ActionLink("New Vehicle", "New", "Vehicle", new { @class = "btn btn-outline-primary" })
@if (!Model.Any())
{
    <p>No vehicles available.</p>
}
<p></p>
<table id="vehicles" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">Type</th>
            <th class="text-center">Description</th>
            <th class="text-center">Brand</th>
            <th class="text-center">Model</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicles in Model)
        {
            <tr>
                <td>@Html.ActionLink(vehicles.Type, "Edit", "Vehicle", new { id = vehicles.Id }, null)</td>
                <td>@vehicles.Description</td>
                <td>@vehicles.Brand</td>
                <td>@vehicles.Model</td>
                <td align="center"><button data-vehicle-id="@vehicles.Id" class="btn btn-outline-primary js-delete"> Delete </button></td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#vehicles .js-delete").click(function () { var button = this

                bootbox.confirm("Would you like to delete this vehicle?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "API/Vehicles/DeleteVehicle/" + button.attr("data-vehicle-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
